@import url("bootstrap.min.css");

body{
  background: gray url("../img/bgpattern.png");
}



.icon {
    /*align-items: center;
    display: inline-flex;
    justify-content: center;*/
    height: 1.5rem;
    width: 1.5rem;
    max-height: 100px;
    max-width: 100px;

}



/*Footer*/

.copyright {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f0f1;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #808080;
  padding-top: 0.5rem;
}



footer .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.header {
  color: #fff;
  padding-top: 5px;
}
.header-scrolled {

  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  padding-top: 5px;
  padding-bottom: 0;
}
.header-scrolled .navbar-nav > li > a {
  color: #FFF;
}
.navbar-nav > li > a:hover {
  color: #F3F0F0;
}
/* ====== Nav ======= */
.navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 15px;
  background: none;
  position: relative;
  top: 5px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .toggle-title {
  display: inline-block;
  float: left;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: -1px;
}
.navbar-toggle .icon-bar-wrapper {
  float: left;
}
.navbar-toggle .icon-bar {
  background-color: #f3f0f0;
  height: 3px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.navbar-toggle:hover .icon-bar {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*
.navbar-nav {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}*/

.navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 0px !important;
  padding: 9px !important;
}
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background: none;
  outline: none;
  color: #EED0D2;
  cursor: pointer;
}
.navbar-nav > li.active > a {
  color: #F3F0F0;
}
